{% extends 'Annotator/index_base.html.twig' %}

{% block mainblock %}
    <div id="maindoc">
        {% for token_style in tokens_style %}
            {% if token_style[0].getnewlinebefore %}
                <br/><br/>
            {% endif %}
            <span id="{{ token_style[0].id }}" class="{{ token_style[1] }}">{{ token_style[0] }}</span>
        {% endfor %}
    </div>                
{% endblock %}                