{# app/Resources/views/base.html.twig #}

{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/general.css') }}" rel="stylesheet">
{% endblock stylesheets %}

{% block body %}
    <div class="container">
        <div class="row"></div>
        <div class="row voffset5">
            <div class="col-md-6 col-md-offset-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Enter expression...">
                    <span class="input-group-btn">
                        <button class="btn btn-secondary" type="button">Analyze!</button>
                    </span>
                </div>
                <p class="voffset2">For a more powerful analysis you can try <a href="">advanced search</a></p>
            </div>
        </div>
        <div class="row voffset3">
            <div class="col-md-4 col-md-offset-2">
                {% if is_granted('ROLE_ADMIN') %}
                <h2>Annotate</h2>
                <p>This is the button to start the annotation</p>
                <p><a class="btn btn-default" href="{ path('dinel_annotator_annotate') }}" role="button">Begin annotation &raquo;</a></p>
                {% endif %}
            </div>
            <div class="col-md-4 col-md-offset-2">
                {% if is_granted('ROLE_ADMIN') %}
                <h2>Administer</h2>                
                    <p><a class="btn btn-default" href="{{ path('admin_page') }}" role="button">Admin screen &raquo;</a></p>
                {% endif %}
            </div>
        </div>
    </div>
    
{% endblock %}


