{# app/Resources/views/FrontPAge/index.html.twig #}

{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/general.css') }}" rel="stylesheet">
{% endblock stylesheets %}

{% block body %}
    <div class="container">

        <div class="row voffset5">
            <div class="col-md-6 col-md-offset-3">
                <div class="input-group">
                    <input id="search-field" type="text" class="form-control" placeholder="Enter expression...">
                    <span class="input-group-btn">
                        <button id="search-button" class="btn btn-secondary" type="button">Analyze!</button>
                    </span>
                </div>
                <p class="voffset2">For a more powerful analysis you can try <a href="">advanced search</a></p>
            </div>
        </div>
    </div>
    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/search.js') }}"></script>
{% endblock %}

