/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30-Jul-2015, 23:00:32
    Author     : dinel
*/

.meta-marker-todo {
    background-color: yellow;
    border: dotted thin black;
    padding: 2px;
    display: inline;
}

#maindoc {
    line-height: 1.75;
    padding-bottom: 500px;
    font-size: 16px;
    font-family: 'Lora', serif;
}

#tag-attributes {
    padding: 0.5em 2em 2em 0.5em;
    display: none;
    border: thin dotted #08C;
    margin-top: 5em;
    background-color: #FAFAFA;
    overflow-y: auto;
}

html {
  position: relative;
  height: 100%;
}

body {
  /* Margin bottom by footer height */
  padding-bottom: 300px;
}

textarea { vertical-align: top; }

#update-annotation.disabled {
    background-color: gray;
}

#update-annotation.red {
    border-color: red;
}

.ui-slider .ui-slider-handle {
    height: 15px;
    width: 5px;
    padding-left: 5px; 
}

.ui-slider-horizontal {
    height: 8px;
    width: 200px;
}

#context {
    padding: 3px;
    text-align: center;
    font-size: 125%;
    font-family: sans-serif;
}

.current-annotation {
    font-size: 125%;
    text-align: center;
    padding: 1em;
    border: black thin dotted;
    margin-right: 3em;
}

.select-annotation {
    font-weight: bold;
    color:  green;
}

#annotation-message {
    font-weight: bold;
}

#explanation {
    font-size: 80%;
    height: 25px;
    text-align: left;
}

.plain {
    background: white !important;
    color: black !important;
    border: none !important;
}