/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30-Jul-2015, 23:00:32
    Author     : dinel
*/

.meta-marker-todo {
    background-color: yellow;
    border: dotted thin black;
    padding: 2px;
    display: inline;
}

#maindoc {
    line-height: 1.75;
    padding-bottom: 500px;
    font-size: 16px;
    font-family: 'Lora', serif;
}

#tag-attributes {
    padding: 2em;
    display: none;
    border: thin dotted #08C;
    margin-top: 5em;
    background-color: #f5f5f5;
    overflow-y: auto;
}

html {
  position: relative;
  height: 100%;
}

body {
  /* Margin bottom by footer height */
  padding-bottom: 300px;
}

textarea { vertical-align: top; }

#update-annotation.disabled {
    background-color: gray;
}

#update-annotation.red {
    border-color: red;
}

.ui-slider .ui-slider-handle {
    height: 15px;
    width: 5px;
    padding-left: 5px; //add this
}

.ui-slider-horizontal {
    height: 8px;
    width: 200px;
}
